
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}


.button-container {
  margin-bottom: 20px;
}


.button-container button {
  background-color: #FF82FF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}


.button-container button.active {
  background-color: #FFB6C1	;
}


#column_chart_div1 {
  margin-bottom: 20px;
}


.sales {
  display: inline-block;
  background-color: #FF82FF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  background-color: #FFB6C1	;
}
