@charset "UTF-8";

*{
	margin:0;
	padding:0;
	font-family: sans-serif;
	text-decoration:none;
}

.frame{
	width : 80%;
	margin : auto;
}

.container {
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "cate banner";
}
.category-list {
	grid-area: cate;
	overflow-y: auto;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 50%;
	
	background-color: rgb(132,132,132);
}

#img{
	width:100%;
}

.list {
	
	width: calc(50% - 10px);
	height: 30px;
	margin: 5px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.list>a{
	color: white;
}

.main-banner {
	width : 50%;
  	grid-area: banner;
  	object-fit: cover;
}

.footer {
	position: fixed;
	bottom: 0;
	height: 1;
	background-color: #439A97;
	padding: 20px;
	text-align: center;
}