@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

.container1 {
	width: 90%;
	justify-items: center;
	align-items: center;
}

.cust_info {
	width: 50%;
	padding: 10px;
	border: 2px solid #ccc;
	margin: 10px;
}

.cust_info ul li {
	padding: 5px 0;
}

.pagename {
	border-bottom: 2px solid #ccc;
	width: 100%;
	margin: 10px;
}

.my-order {
	width: 100%;
	border-bottom: 2px solid #ccc;
	border-top: 2px solid #ccc;
	margin-bottom: 10px;
	margin-left: 10px;
}

.my-order table {
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

.my-order table tr td {
	padding: 5px 0;
}

.my-board {
	width: 100%;
	border-bottom: 2px solid #ccc;
	border-top: 2px solid #ccc;
	margin-bottom: 10px;
	margin-left: 10px;
}

.my-board table tr td {
	padding: 5px 0;
}

.my-board table {
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

.thead {
	background-color: #ccc;
	width: 100%
}

h5 {
	margin-left: 10px;
}

.button-container {
	margin-top : 20px;
	text-align : right;
}

.button-container .button {
  background-color: rgb(240,246,244);
  color: black;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.button-container button.active {
  background-color: rgb(240,246,244);
}

.button:hover{
	background-color: #395144;
	color :rgb(240,246,244);
}



