@charset "UTF-8";

order-thead {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f0f0f0;
  font-weight: bold;
}

order-thead div {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.order-tbody {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
  margin-top: 10px;
}

.my-board {
display: grid;
grid-template-columns: 25% 60% 15%;
background-color: #f0f0f0;
font-weight: bold;
}

.board-thead div {
padding: 10px;
text-align: center;
border: 1px solid #ccc;
}

.board-tbody {
display: grid;
grid-template-columns: 25% 60% 15%;
gap: 10px;
margin-top: 10px;
}

.board-tbody div {
padding: 10px;
text-align: center;
border: 1px solid #ccc;
}