@charset "UTF-8";

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cust_info {
  grid-column: 1 / span 2;
}

.my-order {
  grid-column: 1;
}

.my-board {
  grid-column: 2;
}

.button {
  grid-column: 1 / span 2;
  text-align: center;
}

.order-thead {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr;
  background-color: #f0f0f0;
  font-weight: bold;
}

.order-thead div {
  padding: 10px;
  text-align: center;
  border-right: 1px solid black;
}

.order-thead div:last-child {
  border-right: none;
}


.order-tbody {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
  margin-top: 10px;
}

.my-board {
display: grid;
grid-template-columns: 25% 60% 15%;
}

.board-thead div {
padding: 10px;
text-align: center;
}

.board-thead {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  gap: 10px;
  margin-top: 10px;
  background-color: #f0f0f0;
  font-weight: bold;
}

.board-thead div {
  padding: 10px;
  text-align: center;
}
