
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
a{
	text-decoration : none;
	color: black;
	margin-top:10px;
	margin-left: 10px;
    margin-right: 10px;

}


.board {
  max-width: 960px; 
  margin: 40px auto; 
}

.board h1 {
  text-align: center; 
  color: #395144;
  margin-top : 50px;
  margin-bottom : 50px;
}

.board table {
  width: 100%; 
  border-collapse: collapse; 
}

.board td {
  border-top: 1px solid black;
  border-bottom: 1px solid black; 
  padding: 10px; 
  text-align: center; 
}
thead{
	background-color: rgb(240,246,244);
	border-top: solid 2px #395144;
}
.number {
  margin : auto;
}

