@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

a {
	color: black;
}

.message {
	margin: 20px;
	text-align: center;
	font-size: 24px;
}

.cart-table {
	table-layout: fixed;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.cart-table-head {
	border-top: 2px solid #395144;
	background-color: rgb(240, 246, 244);
}

.cart-table tr {
	border-bottom: 1px solid #395144;
	text-align: center;
	font-size: 1em;
	border-top: 1px solid black;
}

.cart-table tr td {
	padding: 5px 5px;
	margin: 20px;
}

.info {
	padding-bottom: 20px;
	text-align: right;
	width: 95%;
}

.button {
	margin-top: 10px;
	text-align: center;
}

.button a {
	background-color: rgb(240, 246, 244);
	color: black;
	border: none;
	padding: 10px 20px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
}

.button a:hover {
	background-color: #395144;
	color: rgb(240, 246, 244);
}

#info-total {
	font-size: 1.2em;
}

#info-message {
	font-size: 1.2em;
	text-align: center;
}


