@charset "UTF-8";

.contract {
	width: 500px;
	margin: 50px auto 80px;
	padding: 30px 40px 50px;
}

.contract h2 {
	text-align: center;
	margin-bottom : 30px;
}

.text {
	height: 400px;
	border: 1px solid black;
	background-color: white;
	white-space: pre-line;
	overflow-y: scroll;
	margin: 0 auto 20px;
}

.contract p {
	text-align: right;
}

.box {
	width: 100px;
	height: 40px;
	padding: 8px;
	margin: 0 3px;
	cursor: pointer;
	background-color: #9DC08B;
	border : none;
}

.box:hover {
	color: #fff;
	background-color: #4E6C50;
}

#mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	filter: alpha(opacity = 50);
	zoom: 1;
	opacity: 0.5;
	z-index: 9998;
	display: none;
}

.popup-box {
	display: none;
	position: fixed; 
	width: 580px;
	height: 600px;
	background: #fff;
	border: 1px solid #333;
	z-index: 9999;
}

.popup {
	padding: 20px;
}
.popup h2{
	text-align : center;
	margin : 20px;
}

.popup-close {
	width: 100%;
	padding: 5px 0;
	background-color: #9DC08B;
	color: #fff;
	text-align: right;
	position: absolute;
	bottom: 0;
}

.button-close {
	margin: 5px;
	background: none;
	border: 0;
	color: #fff;
	cursor: pointer;
}

.button-open {
	border: none;
	background: #fff;
	cursor: pointer;
	margin-left: 225px;
	font-size : 20px;
}
#button-open1 {
	margin-left: 179px;
}
.check-box{
	background: #fff;
	padding: 10px;
	border-bottom: 2px solid #f39c12;
	width: 100%;
	margin-bottom :30px;
}
.check {
	width: 24px;
    height: 24px;
     
}
#checkall{
	width: 24px;
    height: 24px;
}
label{
	font-size : 20px;
}
